.inline-icon {
  vertical-align: bottom;
  font-size: 18px !important;
  display: inline !important;
}

/* .footer-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
} */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

.card .card-content .card-title {
  display: flex;
  justify-content: space-between;
}
